<?xml version="1.0" encoding="UTF-8"?>
<sponge xmlns="https://sponge.openksavi.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://sponge.openksavi.org https://sponge.openksavi.org/schema/config.xsd">

    <knowledgeBases>
        <knowledgeBase name="python_kb">
            <file>kb/python_kb.py</file>
        </knowledgeBase>
        <knowledgeBase name="javascript_kb">
            <file>kb/javascript_kb.js</file>
        </knowledgeBase>
        <knowledgeBase name="ruby_kb">
            <file>kb/ruby_kb.rb</file>
        </knowledgeBase>
        <knowledgeBase name="groovy_kb">
            <file>kb/groovy_kb.groovy</file>
        </knowledgeBase>
    </knowledgeBases>

    <plugins>
        <plugin name="standalone" class="org.openksavi.sponge.standalone.StandalonePlugin">
            <configuration>
                <spring>
                    <!-- Manual Camel context configuration. -->
                    <file>config/spring-camel-context.xml</file>
                </spring>
            </configuration>
        </plugin>
    </plugins>
</sponge>

