.settings
.DS_Store
.classpath
.project
target/
*.dia~
.pydevproject
*.class
*.log
pom.xml.versionsBackup
dependency-reduced-pom.xml
__pycache__/
_*_/
.vscode/settings.json
sponge-kotlin-script/.factorypath
sponge-standalone-app/_work
