<?xml version="1.0" encoding="UTF-8"?>
<sponge xmlns="http://sponge.openksavi.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://sponge.openksavi.org http://sponge.openksavi.org/schema/config.xsd">

    <properties>
        <!-- News that have less words in the title than specified by this parameter will be rejected by filters. -->
        <property name="newsFilterWordThreshold" variable="true">3</property>
        <!-- Max size of a buffer that stores latest news. -->
        <property name="latestNewsMaxSize" variable="true">5</property>
        <!-- RSS endpoint URI parameters. -->
        <property name="rssEndpointParameters" variable="true">?sortEntries=false&amp;consumer.delay=1000</property>
        <!-- Duration of reading RSS feeds from sources (in seconds). -->
        <property name="durationOfReadingRss" variable="true">5</property>
    </properties>

    <knowledgeBases>
        <knowledgeBase name="config">
            <!-- Extended configuration (more complex data structures than in properties section). -->
            <file>kb/config.py</file>
        </knowledgeBase>
        <!-- Main knowledge base (implemented in Python) that uses 3 files. These files will be loaded by the same interpreter. -->
        <knowledgeBase name="main">
            <!-- Plugin implemented in Python. -->
            <file>kb/main_plugins.py</file>
            <!-- Main event processors. For the sake of clarity registration of event processors is placed in the next file. -->
            <file>kb/main_event_processors.py</file>
            <!-- Knowledge base callback functions: onInit, onLoad, onStartup, etc. -->
            <file>kb/main_functions.py</file>
        </knowledgeBase>
        <!-- Actions knowledge base (implemented in JavaScript). -->
        <knowledgeBase name="actions">
            <file>kb/actions.js</file>
        </knowledgeBase>
        <!-- A knowledge base that simulates lack of new news after a specified time by stopping corresponding Camel routes. -->
        <knowledgeBase name="simulator">
            <file>kb/simulator.py</file>
        </knowledgeBase>
        <!-- As a consumer in Camel routes. -->
        <knowledgeBase name="consumer">
            <file>kb/consumer.py</file>
        </knowledgeBase>
    </knowledgeBases>

    <plugins>
        <!-- Plugin defined in Java. -->
        <plugin name="echoPlugin" class="org.openksavi.sponge.examples.project.camelrssnews.MultiEchoPlugin">
            <configuration>
                <count>2</count>
            </configuration>
        </plugin>

        <!-- Plugin defined in Python. Stores the last news entry. -->
        <plugin name="storagePlugin" class="StoragePlugin" knowledgeBaseName="main">
            <configuration>
                <storedValue>no news yet</storedValue>
            </configuration>
        </plugin>
    </plugins>
</sponge>

