<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="theme-color" content="#157878">
<!--     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="{{ "/docs/coderay-asciidoctor.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/docs/asciidoctor.css" | prepend: site.baseurl }}">
    <!--link rel="stylesheet" href="{{ "/css/asciidoc-pygments.css" | prepend: site.baseurl }}"-->

    <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  </head>
  <body>
  <section class="page-header">
      <a href="{{ "/" | prepend: site.baseurl }}" class="project-name"><img src="{{ "/images/logo-for-pages.png" | prepend: site.baseurl }}" alt="Sponge"/></a>
      <div class="project-tagline">{{ site.description | default: site.github.project_tagline }}</div>
      <a href="{{ "/" | prepend: site.baseurl }}" class="btn">Overview</a>
      <a href="{{ "/quickstart/" | prepend: site.baseurl }}" class="btn">Quickstart</a>
      <a href="{{ "/user-guide/" | prepend: site.baseurl }}" class="btn">User Guide</a>
      <a href="{{ "/documentation/" | prepend: site.baseurl }}" class="btn">Documentation</a>
      <a href="{{ "/download/" | prepend: site.baseurl }}" class="btn">Download</a>
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
	  <h1>{{ page.title | default: ""}}</h1>
      <hr/>

      {{ content }}

      <footer class="site-footer">
<!--         <span class="site-footer-owner">{{ site.product_name }} is released under an open-source license.</span> -->
        <span class="site-footer-credits">Copyright &copy; 2018 {{ site.owner_name }}.</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
